[2017-09-28 09:59] gasolin opened #1 "provide Firefox version"
Firefox now provide web extension API which is similar to Chrome
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_a_Google_Chrome_extension

And MetaMask already provided the Firefox extension
https://addons.mozilla.org/en-US/firefox/addon/ether-metamask/?src=api

[2017-09-28 10:01] owocki commented on #1
this is a great idea.  if anyone wants to fund a bounty for it or dev it, i'm all 👂 s

[2017-10-19 20:30] owocki opened #2 "Chrome Extension Revamp"
1. Explorer should show issues I'm watching, not just all issues
2. Anytime I look at an issues board, it should display the funding of each issue.
3. The notifications are kind of obnoxious.  Don't show notifications for all issues associated with repo.
4. The 'Fund Issue' button is broken right now / doesnt show up on issues.  Fix it.
5. rounding is off http://bits.owocki.com/1m3r3Q0O2E38/Screen

[2017-11-21 22:02] jclancy93 commented on #2
Hey @owocki, I'm working on the chrome extension bounty.

Just FYI, I'm not noticing the 5th issue (the bad rounding) what should i do to replicate?

#1 is a little tricky because to get all issues a user is watching, we need to be authenticated on the GH API. This should probably be happening on a backend somewhere, cause I don't see a secure way to get the auth scope we need on client side only

[2017-11-21 23:45] owocki commented on #2
i already fixed #5 :)

[2017-11-21 23:46] owocki commented on #2
probably best to work off of https://github.com/gitcoinco/web/issues/50 since that's where the funding was posted. ill close this issue now.

[2017-11-21 23:46] #2 closed

[2017-12-19 16:47] owocki opened #6 "not seeing 'new issue' button as i browse around github"
repro steps:

install button
go to https://github.com/gitcoinco/web/issues/137

[2017-12-19 16:51] owocki opened #7 "'search keywords' not cleared when browsing from repo to repo"
1. go to https://github.com/gitcoinco/web
2. open browser extension.  note filter by 'web'
3. go to go to https://github.com/gitcoinco/chrome_ext
4.  open browser extension.  note filter still by 'web'

screenshot: http://bits.owocki.com/2N1l3p1M452r/Screen%20Shot%202017-12-19%20at%209.50.28%20AM.png

[2017-12-19 16:52] owocki commented on #7
cc @jclancy93 happy to tip ya something extra for looking into these issues as they come in from alpha testers.

[2017-12-19 16:52] owocki commented on #6
cc @jclancy93 happy to tip ya something extra for looking into these issues as they come in from alpha testers.

[2017-12-19 16:52] owocki commented on #1
is this easy to do?

[2017-12-20 11:04] owocki commented on #2
post is live https://medium.com/gitcoin/gitcoin-chrome-extension-enters-alpha-63f9bdf492e4

[2017-12-20 11:05] owocki commented on #1
funding this now.  if anyone feels like the issue is underpriced leave a comment and we can work it out

[2017-12-20 11:09] owocki opened #8 "Provide Brave Browser version of Gitcoin Chrome Extension"
requirements:
* a way (preferably an automated script) to build the current codebase for Brave.
* (just porting the existing codebase to Brave is not acceptable, as ongoing changes to upstream chrome extension will need to be merged downstream into Brave on an ongoing basis)
* submit a request to add this browser extension to the brave store via https://community.brave.com/c/feature-requests/exten

[2017-12-20 11:10] owocki opened #9 "Any other browser ports we should fund?"
Chrome, Firefox, and Brave will be supported.

Safari?  IE / Edge? Opera?  What else?

Cast yer vote below.

[2017-12-20 11:11] owocki opened #10 "The big 'Beta feedback' thread!"
beta launches today => https://medium.com/gitcoin/gitcoin-chrome-extension-enters-alpha-63f9bdf492e4

Please leave your feedback on the Chrome Extension Beta here.

[2017-12-20 11:56] owocki opened #11 "in the popup, hitting 'enter' after entering a search term should submit search form"
what the title says

[2017-12-20 11:57] owocki opened #12 "extension intermittently doesnt work when metamask is not installed"
TODO: repro steps

[2017-12-20 11:58] owocki opened #13 "in popup, keywords should autocomplete similar to the gitcoin.co/explorer search"
what the title says

[2017-12-20 13:23] owocki opened #14 "Provide Safari version of Gitcoin Chrome Extension"
requirements:
* a way (preferably an automated script) to build the current codebase for Safari.
* (just porting the existing codebase to Safari is not acceptable, as ongoing changes to upstream chrome extension will need to be merged downstream into Safari on an ongoing basis)
* deliver all assets for submission to safari extension store

[2017-12-20 13:29] owocki opened #15 "Issues page labels dont always show up."
# issue

sometimes issue labels ( http://bits.owocki.com/032H3g0t0J1p/Screen%20Shot%202017-12-20%20at%206.28.50%20AM.png ) dont show up on issues pages

# repro steps

go to https://github.com/gitcoinco/chrome_ext/issues
if you navigate there, labels dont show up
if you hard refresh, labels _do_ show up.

[2017-12-20 18:39] owocki commented on #10
from slack : Very nice integration, the text is a bit small in the extension issue list.

[2017-12-20 21:18] owocki opened #16 "we need to support the dark github theme"
http://bits.owocki.com/2o1k0R2J0U3H/Image%202017-12-20%20at%202.18.24%20PM.png

[2017-12-20 21:37] owocki opened #17 "This is awesome, but maybe have a different color for the labels for claimed/funded?"
https://twitter.com/lkngtn/status/943583780924563456

[2017-12-21 00:07] owocki commented on #1
http://bits.owocki.com/1e1z0o0f2E0a/Screen%20Shot%202017-12-20%20at%205.06.36%20PM.png

i get a 404

based upon the result you posted, it seems that theres a few things we'll have to update :)

[2017-12-21 01:23] ethikz commented on #2
@jclancy93 @owocki Nice job!!

[2017-12-21 09:26] gasolin commented on #1
Finally got some time to deal with this...
Sent PR to make the extension compatible with Firefox Extension https://github.com/gitcoinco/chrome_ext/pull/19

And uploaded it to mozilla addon
https://addons.mozilla.org/en-US/firefox/addon/gitcoin/

[2017-12-21 18:19] charlieknoll opened #20 "Prevents injection of inline.js by Metamask on certain pages"
With both gitcoin and metamask extensions installed and navigating to this url (https://charlieknoll.github.io/ethtracker.html?balance=1) web3 is not properly injected and the metamask extension logs 3 errors in the console "web3 is not defined".

Disable gitcoin extension and web3 is injected correctly.  Maybe gitcoin is creating a web3 object?

[2017-12-21 20:57] cgewecke opened #21 "Clicking on Github profile contribution chart multiplies tip button."
Kind of cool actually . . .

![screen shot 2017-12-21 at 12 44 18 pm](https://user-images.githubusercontent.com/7332026/34274645-5b29da00-e64e-11e7-861a-6bad67d8d053.png)

[2017-12-22 00:40] owocki commented on #1
@gasolin thank you!

https://addons.mozilla.org/en-US/firefox/addon/gitcoin/ returns a 404 for me.  is it live yet?  i'd love to review the listing before it's live.

can you give me permissions to manage the extension on addons.mozilla.org  ?

[2017-12-22 02:38] step21 commented on #1
Is the bounty still live for 'providing a script' or similar instead of just porting? Tried claiming this or one of the other extension bounties but somehow always ran out of gas or something else... for one of the bounties metamask suggested 200 $ equiv in gas ... if anything I would want to earn ether, not spend the little that I have in metamask atm... I wouldn't mind waiting a bit longer until

[2017-12-22 03:16] gasolin commented on #1
@owocki 0.10 is drawn from reviewer because of the origin code inject JS via `innerHTML`. I made an extra patch to use `browser.tabs.executeScript` API instead of `innerHTML` and update 0.11. Now all lint warning are gone and is listed https://addons.mozilla.org/en-US/firefox/addon/gitcoin/

I also saw some issues but may not block this work:
* match pattern in manifest.json matched all web site,

[2017-12-22 18:26] owocki commented on #1
probably good to fix this

i could go either way on this.  what do you think?

[2017-12-22 18:28] owocki commented on #1
@gasolin do you feel like your PR covvers this?  or should cover it?

[2017-12-22 18:30] owocki commented on #1
strangely... when i install this extension, it doesnt show up in the menu bar... so im not sure how to test it http://bits.owocki.com/3x0v3k443N2U/Screen%20Recording%202017-12-22%20at%2011.29%20AM.mov

[2017-12-23 02:26] step21 commented on #1
Mmmh, seems to work fine for me. Maybe just some loading error or not added automatically? If you go to 'customize' is it there?

[2017-12-23 16:25] gasolin commented on #1
It should shows in the menu bar...
The PR provided npm script for build and lint, others can use it to build different browser extensions.

[2017-12-25 15:22] gasolin commented on #1
match pattern in manifest.json matched all web site, but maybe this extension just need to deal with github?

probably good to fix this

    chrome debugger report XMLHTTPReqest is synchronous, could be write in async way

i could go either way on this. what do you think?

I think these 2 issues are not directly related to this issue and does not block publish the addon. So its better to file sepa

[2017-12-25 20:18] step21 commented on #14
As far as I can tell, not many or no changes would be needed to the extension - as it can just use chrome extensions. However, the process to include it in their architecture is a bit more involved involving pull requests to brave repos. See metamask example here: https://github.com/brave/browser-laptop/pull/9647 https://github.com/brave/vault-updater/pull/43

[2017-12-25 20:21] step21 commented on #6
Which browser? Works fine in Firefox.

[2017-12-25 20:22] step21 commented on #8
As far as I can tell, not many or no changes would be needed to the extension - as it can just use chrome extensions. However, the process to include it in their architecture is a bit more involved involving pull requests to brave repos. See metamask example here: brave/browser-laptop#9647 brave/vault-updater#43

[2017-12-26 00:49] jclancy93 commented on #15
Are you still having this problem?

[2017-12-26 20:04] rafaelfragosom commented on #14
@step21 Is correct. Safari extensions can only be generated by Safari or doing some high-level hacking on OSX to generate it from our source.

Safari is the new IE.

[2017-12-27 00:19] owocki commented on #14
thanks for letting me know.  i am closing this issue per your advice.

is there another browser that's more hacker-friendly that you recommend i take the $$$ from this bounty and put it into?

[2017-12-27 00:21] owocki commented on #8
architecture, do you mean archive?

i am more than happy to spend the funds on this instead.. given that it seems my inintial scope is infeasible

[2017-12-27 00:21] owocki commented on #14
just paid out the bounty to myself.  will submit a new one if needed

[2017-12-27 00:23] owocki commented on #1
hmm now i can't install it from the add on store because of this error .

http://bits.owocki.com/2v3c2n0j101R/Screen%20Shot%202017-12-26%20at%205.23.25%20PM.png

[2017-12-27 00:24] owocki commented on #1
ahh yes there it is!  disregard the above

[2017-12-27 00:29] #14 closed

[2017-12-27 00:43] step21 commented on #14
Opera maybe? Vivaldi is also nice but it just uses chrome store stuff directly.

[2017-12-27 00:48] step21 commented on #8
Architecture as in extension/update architecture. Maybe not the best word. On the one hand they keep it kind of limited, on the other hand they ship several password managers by default, so not sure what that means for inclusion of gitcoin.

[2017-12-27 01:01] owocki commented on #14
wast chatting with @rafaelfragosom on slack and he recommended MS Edge

[2017-12-27 01:39] owocki commented on #15
uhm... not this exact issue.. but i am having an issue where _some_ bounties dont show up.

For example, at https://github.com/gitcoinco/web/issues
note that 'code ios landing page' doesnt have a gitcoin label by it http://bits.owocki.com/3V0A442R3e0V/Screen%20Shot%202017-12-26%20at%206.39.18%20PM.png
but if you navigate to https://github.com/gitcoinco/web/issues/174 youll see that it does in fact

[2017-12-27 01:40] #15 closed

[2017-12-27 01:40] owocki opened #22 "some bounties dont show up on issues page"
per convo at https://github.com/gitcoinco/chrome_ext/issues/15#issuecomment-353898836

at https://github.com/gitcoinco/web/issues
note that 'code ios landing page' doesnt have a gitcoin label by it http://bits.owocki.com/3V0A442R3e0V/Screen%20Shot%202017-12-26%20at%206.39.18%20PM.png
but if you navigate to gitcoinco/web#174 youll see that it does in fact have a funding associated with it

[2017-12-27 01:43] owocki commented on #6
seems to be working now 🤷‍♂️

[2017-12-27 02:08] owocki commented on #1
@gasolin  i just got this email from firefox dir http://bits.owocki.com/263U2M1q043e/Screen%20Shot%202017-12-26%20at%207.08.36%20PM.png

[2017-12-27 04:45] KamesCG commented on #16
1. Added Options page to Extension manifest.
2. Included Light, Dark and Brand for theme options.

To handle multiple themes and easy user choice, I've added ```options.html``` and ```options.js``` to handle theme selection and other future settings requirements.

CSS files have been split up for easy appending using switch/jquery statement.

https://github.com/gitcoinco/chrome_ext/pull/23/commits

[2017-12-27 05:00] KamesCG commented on #21
PR submitted: https://github.com/gitcoinco/chrome_ext/pull/23/commits/7223eaf3f66ab733ce858eb0628edfeee4bacf5f

[2017-12-27 06:36] jclancy93 commented on #6
Yea pull #18 should have fixed this

[2017-12-27 06:41] jclancy93 commented on #22
Will take a look at this

[2017-12-27 13:01] rafaelfragosom commented on #1
@gasolin @owocki I'm currently working on a cross-browser solution for WebExtensions API and it will work with any browser supporting the API, including Opera, Brave, Firefox and Edge.

Not sure how to proceed since you've made the PR to add Firefox to the list.

[2017-12-27 13:03] rafaelfragosom commented on #14
I've made a comment on #1 about that. I'm working on the cross-browser solution and Opera and Edge will be supported, as well as Brave, Chrome and Firefox.

Vivaldi may be added to the list, I'm not sure how they handle the Extensions API, but once I get the heavy stuff out of the way, adding new browsers will be a piece of cake.

[2017-12-27 15:06] KamesCG opened #24 "Interface Design : Increase Feature Focus + Decrease Brand Focus"
First, shoutout to @jclancy93  for laying down the foundation. Great to see the little green "Fund Issue" button everywhere on GitHub now :)

I would like to officially propose user interface adjustments to increase **features focus** and decrease **branding focus**.

Currently a significant amount of space is dedicated to non-essential interface elements. From a product design perspective it make

[2017-12-27 15:14] gasolin commented on #1
@rafaelfragosom I guess the major porting work will be related to Firefox https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Chrome_incompatibilities , since the patch applied webextension-polyfill, you can help check if it still works well on Chrome and other browsers who share the same `chrome` API and extend `package.json` to add build scripts for Opera, Edge..etc

[2017-12-27 15:18] owocki commented on #16
thanks!  this is great progress. :)

i might want to switch the font colors around on the dark theme (and remove the robot /  update the 'view button' and 'address' field to have the right color font)

another thing we need to do to handle the github dark theme is to make sure the buttons that are injected on github.com work within the dark theme.

[2017-12-27 15:34] KamesCG commented on #16
1. I forgot about the color switch on the GitHub page. I'll add that today. Realized I missed the Address and View button when I woke up this morning :)

2. Also in regards to removing robot created a new issue thread for layout proposal: https://github.com/gitcoinco/chrome_ext/issues/24

[2017-12-27 15:56] owocki commented on #24
woah, these are beautiful :)  much more visually engaging than the sad little table i put together.

hey @pixelantdesign thoughts on this?

[2017-12-27 15:56] owocki commented on #24
love this

[2017-12-27 16:17] owocki commented on #21
awesome! merging

[2017-12-27 18:51] KamesCG opened #27 "Developer Workflow | Webpack Bundling + React Proposal"
I would like to officially propose:
1. Adding Webpack Bundling to the developer workflow
2. Selecting React as the core UI library and Z (https://github.com/KamesCG/Z) for any non-react features and DOM manipulation.

I've created a ```webpack``` branch, which.... drum roll.... bundles the Chrome Extension.

https://github.com/KamesCG/chrome_ext/tree/webpack

Basically it's a modified ```create-re

[2017-12-27 19:33] PixelantDesign commented on #24
@owocki

- I like the personalization and richness of the visual design.

- I also like the open/funded/fulfilled concepts, but not seeing how they connect or are denoted in the list items below it.

- The search and share being similar styles could be confusing from a users perspective as they perform two different functions.

- It's unclear if this is a suggestion to bucket all tasks from a prod

[2017-12-27 19:51] KamesCG commented on #24
1. Future designs will continue to adhere to existing branding.

2. I haven't fully thought through every mechanic, but those open/funded/fulfilled would be for filtering of bounties, like on the main site.

3. Yes. It's a suggestion to bucket together tasks from a single organization/project. This is assuming the platform will grow and developers will probably end of creating strong relationships

[2017-12-27 19:58] PixelantDesign commented on #24
@KamesCG I was also thinking it could be useful to be able to search/filter by project name, all project, type of work (design, dev, etc).

[2017-12-27 21:49] KamesCG commented on #24
@PixelantDesign I would be happy to help implement a more dynamic search filter.

I haven't looked at the current API (just the return data), but looks like a decent amount of metadata is returned in each bounty.

[code]

Possibilities?

Option 1: Store all the bounties locally in Browser storage. Filter, map, reduce a Redux store and return search results from cached results. Use ServiceWorkers t

[2017-12-27 21:49] owocki commented on #27
@rafaelfragoso thoughts?

[2017-12-28 02:49] step21 commented on #14
@rafaelfragosom Vivaldi just accesses chrome store. So no need to worry about it.

[2017-12-28 16:51] rafaelfragosom commented on #1
@gasolin Sure thing.

@owocki Can you accept the PR? I'm gonna start working on the other browsers.

[2017-12-28 16:51] rafaelfragosom commented on #14
@step21 Perfect, minus one browser to care.

[2017-12-28 22:19] owocki commented on #1
@rafaelfragosom are you talking about this PR? https://github.com/gitcoinco/chrome_ext/pull/19

@gasolin it has a bunch of merge conflicts.  can you tackle those?  also its still labeled as "WIP" fwiw.

[2017-12-28 22:20] owocki opened #28 "umbrella cross-browser support"
from https://github.com/gitcoinco/chrome_ext/issues/14#issuecomment-354111047

it sounds like a cross browser version of this could be build to support all of these browsers

[2017-12-29 00:29] gasolin commented on #1
@rafaelfragosom PR 25 landed the basis structure which support npm script
https://github.com/gitcoinco/chrome_ext/pull/25

You can base on current master branch and add new browser build script without wait for the firefox addon support

[2017-12-29 16:12] owocki commented on #1
from mozilla

[code]

[2017-12-29 20:54] gasolin commented on #1
That is caused by Firefox addon has a more strict policy for using innerHTML.

We should remove jquery.append and construct the DOM with `createElement` instead
https://github.com/gitcoinco/chrome_ext/blob/master/src/script/popup/index.js#L192

I'll file separate bugs for those improvements

[2017-12-29 20:57] gasolin opened #29 "construct the DOM with createElement instead of jquery.append"
Got from FIrefox addon review

[code]

In popup/index.js we use $.append to render html, which is unsafe.

We should remove jquery.append and construct the DOM with createElement instead
https://github.com/gitcoinco/chrome_ext/blob/master/src/script/popup/index.js#L192

[2017-12-31 16:23] KamesCG commented on #27
Can we make a new experimental branch and do a pull request?

[2017-12-31 21:57] owocki commented on #27
just created a b ranch called stage

[2017-12-31 22:37] KamesCG commented on #27
Should I do a pull request for the Webpack Bundle + React implementation on this branch or use the staging branch to stay within the current Chrome Extension architecture?

[2017-12-31 23:38] owocki commented on #27
either is fine with me..

[2018-01-02 16:12] #20 closed

[2018-01-12 14:07] karsiwek commented on #17
https://github.com/gitcoinco/chrome_ext/pull/34

[2018-01-12 14:24] owocki commented on #17
very excited about this :) thanks @karsiwek

[2018-01-12 14:27] owocki commented on #21
this... seems to be back

[2018-01-12 14:48] owocki commented on #21
@KamesCG im not sure what went wrong here... would you mind taking a nother look?

[2018-01-12 14:51] KamesCG commented on #21
I'll take a look today. I only added a ```!isAlreadyGitcoinBounty``` flag to prevent the issue last time. I can investigate a little further and add some more safeguards :)

https://github.com/gitcoinco/chrome_ext/blob/master/src/script/pageload/body.js
[code]

[2018-01-12 15:36] karsiwek opened #35 "question - should we introduce lodash?"
would be very usefull as extention works on datasets https://colintoh.com/blog/lodash-10-javascript-utility-functions-stop-rewriting

[2018-01-12 15:36] karsiwek commented on #35
@owocki ?

[2018-01-12 15:43] owocki opened #36 "fund issue button bug on github"
it's mispositioned

![screen shot 2018-01-12 at 8 42 46 am](https://user-images.githubusercontent.com/513929/34882696-9a025950-f774-11e7-9b86-1a5f47b2f998.png)

[2018-01-12 16:01] owocki commented on #35
im certainly open to it..

[2018-01-14 23:51] owocki commented on #36
@simondlr thanks for the issue report!

[2018-01-17 01:38] vs77bb commented on #8
@step21 Do you want this one? @owocki if not, may be work poking around to see if anyone is interested!

[2018-01-17 01:39] vs77bb commented on #1
@gasolin Bumping this... any update / does it make sense to claim this one? cc @owocki

[2018-01-18 16:07] gasolin commented on #1
Ooh I should link related bugs to this issue

* merged
#25 move extension into src/ folder
#26 simplify body flow
#32 scope content scripts to github domain only

* wait in review
https://github.com/gitcoinco/chrome_ext/pull/30

[2018-01-19 08:18] simondlr commented on #36
Found another similar bug. :)

![screenshot 2018-01-19 10 17 24](https://user-images.githubusercontent.com/716965/35141011-0b76aa7c-fd02-11e7-9451-3222308e1bfc.png)

[2018-01-19 17:44] gasolin commented on #8
As I saw instead of build-in extensions, Brave doesn't allow 3rd party extensions. And Brave doesn't provide extension store or install from chrome extension store. @owocki I think this issue can be closed
http://youtube.com/watch?v=B7dvJrhXIbc

[2018-01-19 19:53] owocki commented on #8
thanks...

[2018-01-19 19:53] #8 closed

[2018-01-20 05:08] step21 commented on #8
Extensions can be suggested for shipment with brave or installed manually from what I remember. For manual install, just the chrome extension will work. Maybe docs could be added for this

[2018-01-22 15:19] #11 closed

[2018-01-23 06:18] gasolin opened #39 "update jquery to 3.x"
When running `npm run lint`, the web_ext lint report jquery (1.x) version is old and is unsafe, which block us to list the extension on Firefox addons. (#1)

Should update jquery to 3.x and add a script to update it.

[2018-01-23 07:06] gasolin commented on #39
While test with jquery-migrate, there're 3 compatibility issues when upgrade from jquery 1.x:

* JQMIGRATE: jQuery.fn.click() event shorthand is deprecated
* JQMIGRATE: jQuery.fn.keypress() event shorthand is deprecated
* JQMIGRATE: jQXHR.error is deprecated and removed

[2018-01-23 16:05] #39 closed

[2018-01-24 01:57] gasolin commented on #24
Looks cool!

Though put a step back for the style change, should we consider align some key styles (background, button..., etc) between the web site and the extension? They look pretty different now and will looks more different by applying the new style.

[2018-01-24 02:09] KamesCG commented on #24
@gasolin For the most part, I think it's been somewhat decided we won't be using the prototype :)

[2018-01-25 09:04] gasolin opened #42 "Should not use Synchronous XMLHttpRequest for fetching data"
Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user’s experience. For more help http://xhr.spec.whatwg.org/

If user intalled chrome_ext, The github page will hang a while when user's network speed is not fast enough.

[2018-01-25 17:50] #29 closed

[2018-01-31 07:38] xwartz opened #43 "This plugin makes chrome very stuttering"
The synchronous request is the murderer.

https://github.com/gitcoinco/chrome_ext/blob/master/src/script/pageload/functions.js#L25

https://github.com/gitcoinco/chrome_ext/blob/master/src/script/pageload/functions.js#L33

https://github.com/gitcoinco/chrome_ext/blob/master/src/script/pageload/functions.js#L41

[2018-01-31 07:39] xwartz commented on #42
+1

[2018-01-31 16:30] owocki commented on #43
thanks for noting this... im going to change this today

[2018-01-31 17:05] owocki commented on #42
related : https://github.com/gitcoinco/chrome_ext/issues/43

[2018-01-31 17:23] owocki commented on #43
03307f8b8c46fdc4679dcb882d047e8e4b55c4a0

[2018-01-31 17:23] owocki commented on #42
03307f8b8c46fdc4679dcb882d047e8e4b55c4a0

[2018-01-31 17:25] owocki commented on #42
publishing to the chrome store now

[2018-01-31 17:25] owocki commented on #43
publishing to the chrome store now

[2018-01-31 17:34] owocki commented on #43
published.. thanks @xwartz for the report

[2018-02-01 01:57] #43 closed

[2018-02-17 00:47] KennethAshley commented on #1
@owocki I think I fixed this issue. checkout my PR.

[2018-02-17 01:46] KennethAshley commented on #1
Here is the extension working on Firefox. https://addons.mozilla.org/en-US/firefox/addon/kenneth-nicholson/

[2018-02-17 01:51] KennethAshley commented on #1
Addon tests pass
![screencapture-addons-mozilla-org-en-us-developers-upload-ba235c44a9c84d978675cd23adfe4635-1518832188703](https://user-images.githubusercontent.com/1138619/36336938-11b22852-135b-11e8-8392-c0dfa38374ef.png)

[2018-02-21 21:08] vs77bb commented on #1
cc @owocki. Great work @KennethAshley you're an animal 🦁!!!

[2018-02-24 21:01] KennethAshley commented on #1
@vs77bb thanks dude. Let me know if you see anything that needs fixing.

[2018-02-27 21:28] gasolin commented on #1
@KennethAshley nice work, the tag in page shows correctly, though due to api incompatibility, the gitcoin badge in toolbar is not linked
(1. should show the number over icon
2. the project filter should apply onto the list after click the icon)

[2018-03-02 21:29] owocki commented on #1
just installed via the mozilla adds on link that @KennethAshley posted above...

the only issue i see:
*   Metamask not detected. Please install metamask to proceed displays even if metamask is installed

[2018-03-03 00:07] KennethAshley commented on #1
@owocki yea i gotta look into this issue. Meta mask works after awhile but not initially.

[2018-03-03 15:15] maqqju commented on #1
Hi all,

I downloaded the extension and tried to install it to FF. It seems like it's working. Is the problem specifically on not finding metamask now?

[2018-03-05 16:21] owocki commented on #1
that was the problem i experienced.. yes...

perhaps it doesnt matter too much though since metamask / web3 is not really used in the extension too much (although down the line we'd love to do inline web3 tx's in the extension)

[2018-03-05 16:30] KennethAshley commented on #1
@owocki @maqqju I'm gonna continue to look at the interaction between the extension and metamask.

[2018-03-05 22:34] owocki commented on #1
IIRC; the interaction between the extension and metamask was pretty kludgey... there are different execution instances in the main chrome window and the browser window, and in order to get them to talk to each other i had to do some really hacky stuff..

the more i think about it.. the more i think we might want to just remove the metamask functionality for now.. all it does is give you your ETH b

[2018-03-08 15:37] owocki commented on #1
@KennethAshley what do you think about just removing the metamask warning for firefox and 🚢 ing it?

[2018-03-08 18:19] KennethAshley commented on #1
@owocki Yea ill get that done today!

[2018-03-13 03:01] owocki commented on #1
lmk !

[2018-03-14 17:39] gasolin opened #47 "rewrite web_ext with react"
I found the current popup html/js are pretty complicated and several issues stall the development speed
* jquery dependency, which could be removed
* spaghetti code: it makes code hard to test
* fetchBounties are called twice (1. get all bounties then 2. getBounties again after page onload)
* dead code (gitcoin tip related code are not functional)

Therefore I created an experiment repo with `crea

[2018-03-14 17:47] owocki commented on #47
related => @KamesCG did a react prototype of this thats quite nice! https://github.com/gitcoinco/chrome_ext/pull/31

i agree that the current chrome_Ext code is unsustainable.

https://github.com/gasolin/web_ext looks really nice.. is it ready for a regression test?

[2018-03-15 04:00] gasolin commented on #47
@owocki  I think web_ext functions are in parity with current chrome_ext now. Haven't add test yet but you can try by clone the repo https://github.com/gasolin/web_ext and run `yarn install/yarn build` (or `npm install / npm run build`).

Here's the screencast.

![Imgur](https://i.imgur.com/4XlVuJ3.gif)

Some differences are I use bootstrap 4 css from npm module and comment out the header/bot imag

[2018-03-15 22:09] owocki commented on #47
wow, this looks like major progress!!

i think we might want to tweak the styling on the gitcoin pop-in, but other than that this looks great!

[2018-03-15 22:09] owocki commented on #47
want to start a PR and we can do some QA over there?

as for the repo name, maybe well change it from chrome_ext to web_ext :)

[2018-03-16 06:58] gasolin commented on #47
@owocki sure, please check #48
I also added some basic tests to make sure test framework works

[2018-04-23 06:35] gasolin commented on #42
`functions.js` still using sync XMLHttpRequest, we should fix that

[2018-04-23 06:38] gasolin opened #49 "Bounty universe integration"
As proposed in GIP https://github.com/gitcoinco/GIPs/pull/11/files

We can integrate Bounty universe API for the browser_extention

[2018-04-23 06:44] gasolin opened #50 "issue tag style looks different from other tags"
Curret issue tag style looks different from other tags (a bit bigger and too high)
![Imgur](https://i.imgur.com/3bQOnaD.png)

[2018-04-23 06:46] gasolin commented on #47
Here are tasks breakdown as browser_ext development plan proposal

Overall
- Use fetch for all queries #42
- Support web extension (Firefox) #1
- Bounty universe integration #49

Content
- Align issue tag style #50
- Detect if inject element already exists #21

Popup
- Internationalization support (optional)

[2018-04-23 06:49] gasolin opened #51 "Internationalization support"
It's nice to have Internationalization support, and its not hard with react-intl after migrated to react structure in #47

Though it might not very helpful since currently most of the contents are English only

[2018-04-23 06:52] gasolin commented on #47
@owocki @mbeacom above are recent tasks in mind. Please take a look and add your comment, thanks

[2018-04-25 20:34] owocki commented on #47
Detect if inject element already exists #21 Small
Support web extension (Firefox) #1 Medium
Use fetch for all queries #42 Small
Align issue tag style #50 Small

i think these are the ones were really excited about internally

[2018-05-05 13:12] gasolin commented on #47
Hi @owocki current PR did the rewrite and fixed #42 #50, do you think if we can merge the PR then do the rest work on the new base?

[2018-05-06 21:05] abitrolly opened #56 "Calculate time spent on gitcoin.co issues"
Is it possible to calculate when tab is active and there is some activity? I am interested in tabs with bounties, tabs with GitHub issues (both 1st order), then any links that are followed from these pages (2nd order), then maybe all other followed links (3rd order) and then everything else that was open until browser session with gitcoin.co issue was closed.

[2018-05-07 09:24] gasolin opened #57 "integrate Continue Integration auto test"
after merge #48 we will have some unit tests available for UI, it will be great to do some auto test via Travis or circle CI

[2018-05-21 10:46] djmgit opened #58 "Warning's are not appearing and popup is throwing exception"
The popup is not showing any warning even if Metamask is not detected.  This is because ```localStorage['isweb3']``` returns "false" which is string and ```!isweb3()``` returns boolean false, as a result, the warning never gets displayed.
Also ```isweb3unlocked``` always returns true because ```localStorage['web3accountslength']``` always returns a string and as a result of which ```localStorage['

[2018-05-21 10:46] djmgit commented on #58
I am working on this :)

[2018-05-22 08:41] gasolin commented on #57
done in https://github.com/gitcoinco/browser-extension/pull/48
93ac4d6

[2018-06-17 05:38] #42 closed

[2018-06-17 05:56] arun1595 opened #61 "Fund issue link should not be injected into pull request pages"
![image](https://user-images.githubusercontent.com/7039523/41505194-f745c600-71c8-11e8-8233-aaeb71ba2223.png)

'Fund Issue' link doesn't make sense on a pull request page. We should inspect the URL to figure out if it's a pull request page or not before trying to inject the links.

[2018-06-17 05:58] arun1595 opened #62 "Fund issue link should not be injected into new issue page"
![image](https://user-images.githubusercontent.com/7039523/41505212-5143c030-71c9-11e8-9449-01825ea9d87b.png)

If the URL contains the substring `/issues/new` at the end, the 'Fund Issue' should not be injected into the page.

[2018-07-05 07:45] nemaniarjun commented on #1
Update on this?

[2018-07-17 15:23] ajnauleau opened #64 "Firefox entension in the works?"
Does anyone have any thoughts or opinions on starting development of a Firefox version of the browser extension?

If there aren't any contradictions, this may be something that I could start working on.

Antoine

[2018-07-17 15:51] owocki commented on #64
i know that @arun1595 has been somewhat active on the extension.. https://github.com/gitcoinco/browser-extension/issues/1

[2018-07-20 02:04] gasolin commented on #64
@ajnauleau please check if the PR works for you https://github.com/gitcoinco/browser-extension/pull/63

[2018-07-20 17:52] ajnauleau opened #65 "Backticks cause text to get stuck when submitting comment after clicking [Start Work]"
![screenshot 2018-07-20 19 41 19](https://user-images.githubusercontent.com/30602458/43017382-3515ae44-8c56-11e8-84fd-6b8111669a6d.jpg)

Seems to add invisible letters as you type past the backtick, because you can't click out and have to backspace all the way.

Might be worth funding on the platform, it can get annoying when playing code.

[2018-07-20 22:35] mbeacom commented on #65
Thanks @ajnauleau - I'll raise an issue for MD support!

[2018-08-23 17:55] owocki opened #66 "Integrate Metamask Extension Provider"
Integrate https://github.com/MetaMask/metamask-extension-provider/blob/master/README.md so we can process metamask tx's right away in browser

[2018-12-02 22:19] owocki opened #67 "browser extension should inject a users's kudos on their github profile"

[2018-12-12 17:25] jvmaia opened #68 "Notify on new issues"
Is there anyway to activate a notification when a new bounty is published in Gitcoin? What do you think about it?

[2018-12-12 18:19] jvmaia commented on #68
the in browser notification would be in that extension or...?

[2019-04-12 18:16] owocki opened #69 "on master branch, extension no longer shows 'fund issue' button on github issue"
on master branch (the version thats in the chrome store), extension no longer shows 'fund issue' button on github issue .

i'm using Chrome Version 73.0.3683.103 (Official Build) (64-bit).

the expected behaviour looks like this:

![1_cm0UEfYsQo0t9LOjD2XZzw](https://user-images.githubusercontent.com/513929/56057737-d6757480-5d1c-11e9-9218-4f9ad71b6f9a.png)

scope of this is to fix this issue on th

[2019-04-12 18:36] gutsal-arsen commented on #69
@owocki guess I catched:
![image](https://user-images.githubusercontent.com/1643117/56058751-ff245b00-5d6a-11e9-8367-f0c8091c03f1.png)

[2019-04-12 18:52] owocki commented on #69
got it; can you update the code to fix that?  maybe we can make it degrade gracefully in case github changes the code again..

[2019-04-12 18:56] gutsal-arsen commented on #69
@owocki I'll do on monday. I guess browser extension need to be completely revised. It's slow due to use of `await`. Will fix that asap and give you my proposal how to re-arch it.

[2019-04-12 19:04] gutsal-arsen commented on #69
@owocki the best way is to run some GH pages test on CI. Once test fail, red flag is set and build stops notifying developers.

[2019-04-12 19:47] owocki commented on #69
ok. i dont want perfect to be the enemy of good.  for now lets just fix this issue.  we can create more scope for these issues down the line if we want

[2019-04-13 17:14] gutsal-arsen commented on #69
@owocki  I'm afraid that's wrong repo. Existing extension use `XMLHttpRequest`, while this repo use `fetch`. `fetch` has some limitations explained [here](https://stackoverflow.com/questions/45696999/fetch-unexpected-end-of-input) (CORS need to be added to server side for `fetch` to work).

I can provide my fix in this repo (master branch), but not sure if it's ready to be publshed to Chrome Store

[2019-04-13 17:19] gutsal-arsen commented on #69
![image](https://user-images.githubusercontent.com/1643117/56083106-73bdcf00-5e29-11e9-93b5-7a5f56ab4530.png)

[2019-04-14 03:28] gutsal-arsen commented on #69
Seems code fails before we try to catch non-existent element on GH page:

![image](https://user-images.githubusercontent.com/1643117/56087941-7bf42980-5e7e-11e9-937f-8bede2ac8887.png)

CORS header should be added to server-side. Who can solve that, @owocki ?

[2019-04-14 03:31] gutsal-arsen commented on #69
@owocki btw, it happened [recently](https://www.chromium.org/Home/chromium-security/extension-content-script-fetches), so I'm afraid extensions will stop working across all users.

[2019-04-14 04:41] owocki commented on #69
we just need to accept requests from github.com right?

[2019-04-14 04:51] gutsal-arsen commented on #69
nope, from gitcoin

[2019-04-14 05:30] gutsal-arsen commented on #69
Fixed. PR#70 created. CORS handler is still needed for server-side.
![image](https://user-images.githubusercontent.com/1643117/56088613-ff1c7c00-5e8c-11e9-9e2b-f99d23823b5e.png)

[2019-04-18 10:42] gutsal-arsen commented on #69
@owocki how long it would take to review/merge my changes into codebase and closing the bounty?

[2019-04-25 17:14] owocki commented on #69
commenting on the PR with my testing notes now

[2019-04-29 21:06] #69 closed

[2019-05-02 07:18] gutsal-arsen commented on #69
@owocki I'd improve that project a bit if you consider that's necessary:

Maintenance:
- turn code to be TypeScript not JavaScript adding babel to node build workflow
- add code obfuscation to build workflow via webpack
- add packaging and automatic deployment to Google Chrome Store
- add remote logging via Rollbar or some other framework that would alter us if something changed again on Github/Bi

[2019-05-06 08:52] gutsal-arsen opened #71 "Project improvement general guidelines"
@owocki  @thelostone-mc @SaptakS  I'd improve that project a bit if you consider that's necessary:

Maintenance:
- turn code to be TypeScript not JavaScript adding babel to node build workflow
- add code obfuscation to build workflow via webpack
- add packaging and automatic deployment to Google Chrome Store
- add remote logging via Rollbar or some other framework that would alter us if something